#wholePage {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
    text-align: center;
}

#form {
    width: 250px;
    height: 250px;
    font-family: Sans-Serif;
    font-size: 2em;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
